/*CUSTOM*/

.container{
  width: 100% !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header span{
  color: white;
}

.main{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 100%;
}

.product-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-list__item{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
}